<mat-card class="scheda-riepilogo">
  <mat-card-header>
    <mat-card-title>Avanzamento complessivo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="numero-avanzamento">{{ percentuale }}%</div>
    <mat-progress-bar mode="determinate" [value]="percentuale"></mat-progress-bar>
    <div class="metriche">
      <span>{{ taskCompletati }}/{{ taskTotali }} task completati</span>
      <span matBadge="{{ taskInErrore }}" matBadgeColor="warn">errori</span>
    </div>
  </mat-card-content>
</mat-card>
